@model MilwaukeeBeerCraft.Models.Post

@{
    ViewBag.Title = "Posts";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Posts</h2>


    @if (Model.Content.Count() > 0)
    {
        foreach (var post in Model.Content)
        {
            <tr>
                <td> @Html.Partial("_PostTemplate", post)</td>
                <td> @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |</td>
                <td> @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |</td>
                <td> @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) </td>
            </tr>
        }
    }
</table>
    @Html.Partial("_Pager", Model)


    @* @Html.DisplayNameFor(model => model.TotalPosts)

        @foreach (var thing in Model) {
        <tr>

            <td>



            </td>
        </tr>*@
    }


