@model MilwaukeeBeerCraft.Models.ListViewModel

@{
    ViewBag.Title = "Posts";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Posts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Posts
        </th>
        <th>
            Edit
        </th>
        <th>
            Details
        </th>
        <th>
            Delete
        </th>
    </tr>
    @if (Model.Posts.Count > 0)
    {
        foreach (var post in Model.Posts)
        {
            <tr>
                <td> @Html.Partial("_PostTemplate", post)</td>
                <td> @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |</td>
                <td> @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |</td>
                <td> @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) </td>
            </tr>
        }
    }
</table>
    @Html.Partial("_Pager", Model)


    @* @Html.DisplayNameFor(model => model.TotalPosts)

        @foreach (var item in Model) {
        <tr>

            <td>



            </td>
        </tr>*@
    }


