@model MilwaukeeBeerCraft.Models.ListViewModel

@{
    ViewBag.Title = "ManageContent";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<html>
<head>
    <title>Manage Posts, Categories and Tags</title>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!-- jquery library -->
    <script src="http://code.jquery.com/jquery-1.12.4.js"></script>

    <!-- jquery ui library -->
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="@Url.Content("~/Content/Themes/jquery-ui-1.12.1.custom/jquery-ui.min.css")" rel="stylesheet" />

    <!-- tinyMCE -->
    <script src="@Url.Content("~/Scripts/tinymce/tinymce.js")"></script>
    <script src="@Url.Content("~/Scripts/tinymce/tinymce.min.js")"></script>
    <script src="@Url.Content("~/Scripts/tinymce/jquery.tinymce.min.js")"></script>

    <script src="@Url.Content("~/Scripts/admin.js")"></script>

</head>
<body>
    @Html.Partial("ManagePosts")
    
    <form method="post" id="post">
        <textarea id="mytextarea" class="form-control">  Your post goes here. </textarea>
        <div class="row">
            <div class="col-md-12">
               
            </div>
            <div id="col-sm-12" class="btn-toolbar">
                <div class="dropdown">
                    @Html.DropDownList("beer", new SelectList(Model.beerStyles), new { @id = "selectedBeer" })
                    @Html.DropDownList("brewery", new SelectList(Model.breweries), new { @id = "selectedBrewery" })
                    @Html.DropDownList("category", new SelectList(Model.category), new { @id = "selectedCategory" })
                  
                </div>
            </div>
            <button type="submit" class="btn btn-primary" @*onclick="SavePost()*@ ">Save</button>
        </div>
    </form>

    <script>

        $(document).click(function () {
            $("#post").submit(function (e) {
                var thisBeer = $("#selectedBeer option:selected").text();
                var thisBrewery = $("#selectedBrewery option:selected").text();
                var thisCategory = $("#selectedCategory option:selected").text();
                var thisText = $('#mytextarea').text();
                var incomingPost = {
                    "Category": thisCategory, "Content": thisText, "Brewer": thisBrewery, "Beer": thisBeer
                };
                $.ajax({
                    type: "Post",
                    url: "Post",
                    contentType: "application/json",
                    data: JSON.stringify(incomingPost),
                    dataType: "json",
                });
                return false;
            });
        });

    </script>

</body>
</html>